ul                  { margin:      0px;               font-size:       14px;
                      padding:     0px;               font-family:     Arial, Verdana;
                      background:  #003547;         border:          1px solid #ffffff;
                      list-style:  none;              border-radius:   5px;
                      text-align:  center; }

ul li               { display:     block;             float:           left; 
                      text-align:  center;            position:        relative; }

li ul               { display:     none;  }

ul li a             { margin-left: 5px;                white-space:     nowrap; 
                      padding:     2px 5px 2px 5px;  text-decoration: none; 
                      display:     block;              color:           #ffffff;              
                      background:  #1e7c9a;          border-top:      1px solid #ffffff; }
/* Top-level */
ul li a:hover       { background:  #3b3b3b; }

li:hover ul         { display:     block;             position:        absolute; }

li:hover li         { float:       none;              font-size:       14px; }

/* Menu items */
li:hover a          { background:  #1e7c9a; }

/* Menu items - hover */
li:hover li a:hover { background:  #4a90e2; }

.li_spacer {height: 4px; }

.sub                { margin-left: -40px; margin-top: 1px;
                      padding:     0px;                 width:           auto; }

.sub li             { text-align:  left;  margin: 2px;  width:           98%; }

