ul {
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
}

    ul li {
        display: block;
        position: relative;
        float: left;
        text-align: center;
    }

li ul {
    display: none;
}

ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    padding: 5px 10px 5px 10px;
    background: #1e7c9a;
    margin-left: 5px;
    white-space: nowrap;
}

    ul li a:hover {
        background: #3b3b3b;
    }

li:hover ul {
    display: block;
    position: absolute;
}

li:hover li {
    float: none;
    font-size: 14px;
}

li:hover a {
    background: #3b3b3b;
}

li:hover li a:hover {
    background: #1e7c9a;
}

.sub {
    width: auto; padding: 0px; margin-left: 20px;
}

    .sub li {
        width: 100%;
        text-align: left;
    }