
/* Top, Right, Bottom, Left */
 
 .bTopBlue {
   border-top: 2px solid #4a90e2;
   margin-top: 40px;
   padding-top: 0px
 }
 /* style={{marginTop:'20px', borderTop:'2px solid #0000cc', }} */

.block10   { margin: 50px 0px 20px 8%; }
.blockmenu { margin-left:0%; margin-top:0%; width:100%; }
.block12   { margin-left:5%; margin-top:0%; width:80%; }
.block12b  { margin-left:5%; border-color: black; border-width: 1px; border-style: solid; width:80%; }

.homeTable { margin-left: 15%; margin-right: 15%; }
td         { text-align: left; vertical-align: top; font-family:monospace; font-size: small; padding: 0px 0px 6px 0px;  }
.tdb       { text-align: left; padding-right:30px; }

/* Top, Right, Bottom, Left */
/* .h1home { font-size:64px; color:darkcyan;         padding: 0px 0px 0px 2px; font-family: 'Times New Roman', Times, serif; }
.h1ahome { font-size:21px; color:darkcyan;        padding: 0px 0px 0px 2px; font-family: 'Times New Roman', Times, serif; }
.h2home { font-size:18px; color:rgb(0, 139, 139); padding: 0px 0px 0px 2px; font-family: 'Times New Roman', Times, serif; }
.h3home { font-size:16px; color:rgb(0, 139, 139); padding: 0px 0px 0px 2px; font-family: 'Times New Roman', Times, serif; }
 */
h1     { margin-bottom: 0.5rem; font-size: 1.7rem; }
h2     { color: #379d46; margin-bottom: 0.1rem; margin-top: 1.3rem; font-size: 1.2rem; width:100%; font-weight:bold; }
h3     { color: #0240d1; margin-bottom: 0.5rem; margin-top: 1.3rem; font-size: 1.1rem; width:90%; font-weight:bold; }
h4     { color: #2475d2; margin-bottom: 0.5rem; margin-top: 1.3rem; font-size: 0.9rem; width:90%; }
h5     { color: #4a90e2; margin-bottom: 0.5rem; margin-top: 1.3rem; font-size: 0.8rem; width:90%; }

.bulletstyle {
   margin-left: '20px'; font-family: 'monospace'; font-size: 'small';
   text-indent: '-10px';
   padding-left: '5px';
   line-height: '1.6';
 };

 .containerStyle {
   font-family: 'Arial, sans-serif'; font-size: 'small';
   max-width: '800px';
   margin: '20px auto';
   padding: '20px';
   border: '1px solid #ccc';
   border-radius: '8px';
   background-color: '#f9f9f9'
 };


.img02424   { border:0px; width:24px; height:24px;} /* Something wrong with this one */
.img03232   { border:0px; width:32px; height:32px;}
.img01717   { border:0px; width:17px; height:17px;}

.h1home  { font-size:64px; color:#4a90e2; padding: 0px 0px 0px 2px; font-family: 'Times New Roman', Times, serif; }
.h1ahome { font-size:21px; color:#4a90e2; padding: 0px 0px 0px 2px; font-family: 'Times New Roman', Times, serif; }
.h2home  { font-size:18px; color:#4a90e2; padding: 0px 0px 0px 2px; font-family: 'Times New Roman', Times, serif; }
.h3home  { font-size:16px; color:#4a90e2; padding: 0px 0px 0px 2px; font-family: 'Times New Roman', Times, serif; }

/* 
h1     { font-size:28px; width:70%; margin:20px 0px 10px 0px; background-color:rgb(0, 139, 139, 30%); padding:9px 0px 9px 2px; }
h2     { font-size:22px; width:70%; margin:20px 0px 10px 0px; background-color:rgba(3, 213, 98, 0.4); padding:4px 0px 4px 2px; }
h3     { font-size:18px; width:70%; margin:20px 0px 10px 0px; background-color:rgba(3, 213, 98, 0.2); padding:3px 0px 3px 2px; } 
h4     { font-size:16px; width:70%; margin:20px 0px 10px 0px; background-color:rgba(3, 213, 98, 0.1); padding:1px 0px 1px 2px; }
h5     { font-size:14px; width:70%; margin:20px 0px 10px 0px; background-color:rgb(0, 139, 139, 11%); padding:1px 0px 1px 2px; }
*/

pre1       { margin-left: 20px; background-color: #ffe4c4; padding: 10px; 
             border-radius: 4px; overflow-x: auto;}

pre        { margin-left: 20px; background-color: #f4f4f4; padding: 10px;
             border-radius: 4px; overflow-x: auto; }

li, p      { font-size: small; margin: 0px 0px 6px 0px; padding: 0px; font-family: monospace; }
button     { padding: 0px 5px 0px 5px; margin: 2px; background-color: bisque; }

code       { font-size:small;  margin: 5px 0px 5px 5px; padding: 2px 5px 2px 5px; font-family: monospace; 
            background-color: bisque; border-color: black; border-width: 1px; border-style: solid; }

             .div120   { width: 120px; display:inline-block; }
             .div130   { width: 130px; display:inline-block; }
             .div140   { width: 140px; display:inline-block; }
             .div145   { width: 145px; display:inline-block; }
             .div150   { width: 150px; display:inline-block; }
             .div160   { width: 160px; display:inline-block; }
             .div170   { width: 170px; display:inline-block; }
             .div180   { width: 180px; display:inline-block; }

             .div150PL { width: 150px; display:inline-block; padding-left:25px; }

             p.colorred    { color:red; display:inline-block; }
             p.redbold     { color:red; display:inline-block; font-weight:bold; }
             .boldred  { color:red; display:inline-block; font-weight:bold; }

.anounderline { text-decoration:'none' }

/* border-color: black; border-width: 1px; border-style: solid;  
             font-family: Arial, Helvetica, sans-serif; font-size: smaller; }
*/

.fixedlbl100 { width: 120px; display: inline-block; font-family: monospace; font-weight: bold; }
.fixedlbl110 { width: 110px; display: inline-block; font-family: monospace; font-weight: bold; }
.fixedlbl120 { width: 120px; display: inline-block; font-family: monospace; font-weight: bold; }
.fixedlbl130 { width: 130px; display: inline-block; font-family: monospace; font-weight: bold; }
.fixedlbl140 { width: 140px; display: inline-block; font-family: monospace; font-weight: bold; }
.fixedlbl150 { width: 150px; display: inline-block; font-family: monospace; font-weight: bold; }
.fixedlbl160 { width: 160px; display: inline-block; font-family: monospace; font-weight: bold; }
.fixedlbl170 { width: 170px; display: inline-block; font-family: monospace; font-weight: bold; }
.fixedlbl180 { width: 180px; display: inline-block; font-family: monospace; font-weight: bold; }
.fixedlbl190 { width: 190px; display: inline-block; font-family: monospace; font-weight: bold; }
.fixedlbl200 { width: 200px; display: inline-block; font-family: monospace; font-weight: bold; }
.fixedlbl210 { width: 210px; display: inline-block; font-family: monospace; font-weight: bold; }
.fixedlbl220 { width: 220px; display: inline-block; font-family: monospace; font-weight: bold; }
.fixedlbl230 { width: 230px; display: inline-block; font-family: monospace; font-weight: bold; }
.fixedlbl240 { width: 240px; display: inline-block; font-family: monospace; font-weight: bold; }
.fixedlbl250 { width: 250px; display: inline-block; font-family: monospace; font-weight: bold; }
.fixedlbl260 { width: 2260px; display: inline-block; font-family: monospace; font-weight: bold; }


*      { margin: 0; padding: 0; box-sizing: border-box; }

body {
   font-family: Arial, sans-serif;
   line-height: 1.6;
   padding: 20px;
   background-color: #ffffff;
   color: #000000;
 }

/* body   { font-family: Arial, sans-serif; line-height: 1.1; color: #333; 
         background: linear-gradient(to right, #f0f4f8, #c9d6e3); } */

.standout { background: #237de4;; color: white; 
            margin: 2px 0px 2px 26px; padding: 1px 1px 1px 8px; 
            display:inline-block; border-left: 4px solid rgb(253, 215, 215); }

header { background: #4a90e2; color: white; text-align: center; padding: 2rem 0; margin: 1rem; }

footer { text-align: center; padding: 1rem 0; background: #4a90e2; color: white;
         position: relative; bottom: 0; width: 100%; }

/* h1     { font-size: 2.5rem; margin-bottom: 0.5rem; }
   h2     { color: #4a90e2; margin-bottom: 0.5rem; } */

main   { padding: 2rem; margin-bottom: 8rem; }

.highlight-box       { background: white; border-radius: 8px; margin: 1rem 0; padding: 1.5rem;
                       transition: transform 0.3s; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); }

.highlight-box:hover { transform: translateY(-5px); }

.tab {
   display: inline-block;
   margin-left: 2em;
}


